/****** General ***********/
* {
	font-family: 'Raleway', sans-serif;
}

:root {
	--main-color: #0065FC;
	--main-bg-color: #F2F2F2;
	--filter-bg-color: #DEEBFF;
}

.fa-solid {
	color: var(--main-color);
}


body {
	display: flex;
	justify-content: center;
	margin: 0;
}

.main-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

/*Partie navigation*/

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

nav a {
	padding: 30px;
}

nav img {
	margin: 20px 20px 20px 40px;
	width: 100px;
}

main {
	padding: 0 50px;
}

header {
	padding: 0 12px;
}

nav a:hover {
	color: #0065FC;
	border-top: #0065FC solid 5px;
}

/*Partie Titre intro*/

.introduction {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.introduction h1 {
	font-size: xx-large;
}

.introduction p {
	margin: 0;
}

/*Partie Champ de Recherche*/


.search {
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-top: 25px;
}

.form-location {
	display: flex;
	flex-direction: row;
	border: 1px solid rgb(240, 240, 240);
	width: 400px;
	height: 50px;
	border-radius: 20px;
}

.fa-location-dot {
	background-color: rgb(236, 236, 236);
	color: black;
	padding: 17px;
	margin: 0;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

#location {
	height: 47px;
	width: 270px;
	margin: 0;
	border: none;
	padding-left: 15px;
	font-weight: 700;
	font-size: 16px;
	color: black;
}

#location:focus {
	outline: none;
}

.search-button {
	background-color: #0065FC;
	color: white;
	border: 0;
	height: 50px;
	margin: 0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.search-button:hover {
	background-color: #0044aa;
}

#rechercher {
	display: none;
}

/*Partie Filtres*/

.filtres {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	margin-top: 15px;
}

.liens-filtres {
	display: flex;
	flex-direction: row;
}

.filtres button {
	display: flex;
	border: solid 2px rgb(185, 185, 185);
	padding-top: 16px;
	padding-bottom: 16px;
	padding-right: 16px;
	margin-left: 20px;
	border-radius: 30px;
	max-height: 5px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: white;
}

.filtres button:hover {
	background-color: #DEEBFF;
}

.filtres i {
	color: #0065FC;
	padding: 10px;
	border-radius: 50%;
	background-color: #ffffff00;
}

.petite_info {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 10px;
}

.petite_info i {
	color: #0065FC;
	margin-right: 20px;
	border: rgb(185, 185, 185) 1px solid;
	border-radius: 50%;
	padding: 5px 10px 5px 10px;
}

/*Partie Hébergements*/

.section-title {
	margin: 0;
	font-size: 22px;
}

figure {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.card {
	background-color: white;
	border-radius: 20px;
	padding: 5px;
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card:hover {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}

.card img {
	object-fit: cover;
}

.card-title {
	font-size: 16px;
}

.euro {
	font-weight: 700;
}

.neutral-star {
	color: var(--main-bg-color)
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
	display: flex;
	justify-content: space-between;
}

.hebergements-and-populaires section {
	background-color: var(--main-bg-color);
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
	width: 65%;
	display: flex;
	flex-direction: column;
}

.hebergements-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}


.hebergements-cards .card {
	display: flex;
	flex-direction: column;
	margin-top: 33px;
	width: 30%;
}

.hebergements-cards img {
	width: 100%;
	height: 136px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.hebergements-cards .card-txt {
	width: 100%;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.hebergements-cards .card-title {
	margin-top: 10px;
	margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
	margin: 0;
}

.hebergements-cards .card-rating {
	margin-bottom: 5px;
}

.more {
	margin-top: 25px;
	font-weight: 600;
}

/****** Populaires ***********/
.populaires {
	width: 32%;
}

.populaires-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.populaires-cards .card {
	display: flex;
	margin-top: 33px;
}

.populaires-cards .card-content img {
	min-width: 120px;
	height: 136px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	max-width: 120px;
}

.populaires-cards .card-txt {
	width: 67%;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.populaires-cards .card-title {
	margin-top: 10px;
	margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
	margin: 0;
}

.populaires-cards .card-rating {
	margin-bottom: 5px;
}

.populaires-cards figure {
	display: flex;
	flex-direction: row;
}

/****** Activités ***********/
.activity {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.activity h2 {
	margin-top: 40px;
}

.activity-cards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.activity-cards .card {
	display: flex;
	flex-direction: column;
	margin-top: 33px;
	width: 24%;
	padding: 0;
}

.activity-cards img {
	width: 100%;
	height: 500px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.activity-cards .card-txt {
	width: 100%;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.activity-cards .card-title {
	margin-top: 10px;
	margin-bottom: 4px;
}

.activity-cards .card-subtitle {
	margin: 0;
}

/*Footer*/

.footer {
	width: 100%;
	background-color: var(--main-bg-color);
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-top: 40px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.footer-column {
	display: flex;
	flex-direction: column;
	margin-left: 100px;
}

.footer li {
	padding-bottom: 10px;
	list-style: none;
}

.titre-footer {
	margin-bottom: 15px;
	list-style: none;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

	.main-container {

		padding: 0 30px;

	}

	.introduction {
		font-size: smaller;
	}

	.filtres {
		flex-direction: column;
		align-items: start;
	}

	.form-location {
		width: auto;
	}

	.hebergements-and-populaires {
		flex-direction: column;
	}

	.hebergements {
		width: 100%;
	}

	.hebergements-cards .card-title {
		font-size: 14px;
	}

	.populaires {
		width: 100%;
		margin-top: 50px;
	}

	.populaires-cards {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.populaires-cards .card {
		width: 30%;
	}


	.populaires-cards .card-title {
		font-size: 14px;
	}

	.populaires-cards .card-subtitle {
		font-size: 13px;
	}

	.activity-cards {
		height: 250px;
	}

	.activity-cards img {
		min-height: 160px;
	}

	.activity-cards .card-title {
		font-size: 14px;
	}

	.activity-cards .card-content {
		height: 50px;
	}

	.footer {
		font-size: 15px;
	}

	.footer-column {
		margin-left: 10px;
	}

}

@media (max-width: 920px) {
	.populaires-cards figure {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.populaires-cards .card-content img {
		width: 100%;
		height: 136px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		min-width: 100%;
		border-bottom-left-radius: 0;
	}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
	/* ... */
	main {
		padding: 0;
	}

	.introduction, .recherche {
		padding: 0 50px;
	}

	.main-container {
		padding: 0;
	}

	nav {
		flex-direction: column;

	}

	nav img {
		width: 60px;
		margin-left: 10px;
	}

	.liens-nav {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	nav a {
		padding: 10px;
		width: 50%;
		text-align: center;
		border-bottom: transparent solid 3px;
	}

	nav a:hover {
		color: #0065FC;
		border-bottom: #0065FC solid 3px;
		border-top: none;
	}

	.introduction {
		padding-left: 15px;
	}

	.search {
		height: 30px;
		margin-bottom: 20px;
		width: 90%;
		justify-content: center;
	}

	.form-location {
		width: 120%;
	}

	#location {
		width: 100%;
	}

	.search-button {
		display: none;
	}

	#rechercher {
		display: inline-block;
		background-color: var(--main-color);
		border: 0;
		width: 25%;
		height: 50px;
		margin: 0;
		border-radius: 20px;
	}

	#rechercher:hover {
		background-color: #0044aa;
	}

	.fa-magnifying-glass {
		color: white;
	}

	.filtres h3 {
		margin-left: 5%;
	}

	.liens-filtres {
		flex-wrap: wrap;
	}


	.filtres button {
		margin-bottom: 10px;
		width: 35%;
	}

	.fa-info {
		margin-left: 5%;
	}

	.hebergements-and-populaires {
		flex-direction: column-reverse;
	}

	.hebergements-and-populaires > section {
		border-radius: 0;
	}

	.hebergements {
		width: 100%;
		margin-top: 20px;
		background-color: white !important;
	}

	.hebergements-cards {
		display: flex;
		flex-direction: column;
	}

	.hebergements-cards .card {
		width: 100%;
	}

	.populaires {
		width: 100%;
		margin-top: 20px;
	}

	.populaires-cards {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.populaires-cards .card {
		width: 100%;
	}

	.populaires-cards .card-title {
		font-size: 14px;
	}

	.populaires-cards .card-subtitle {
		font-size: 13px;
	}

	.activity {
		width: 100%;
	}

	.activity-cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: auto;
	}

	.activity-cards .card {
		width: 90%;
		height: 132px;
		margin-top: 96px;
	}

	.activity .populaires-title {
		padding-left: 30px;
		margin-bottom: 20px;
	}

	.footer {
		display: flex;
		flex-direction: column;
		position: relative;
		top: 145%;
		width: 100%;
	}

}