/****** General ***********/
* {
	font-family: 'Raleway', sans-serif;
}

:root {
	--main-color: #0065FC;
	--main-bg-color: #F2F2F2;
	--filter-bg-color: #DEEBFF;
}

.fa-solid {
	color: var(--main-color);
}

body {
	display: flex;
	justify-content: center;
}

.main-container {
	width: 100%;
	max-width: 1440px;
	padding: 0 50px;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

.section-title {
	margin: 0;
	font-size: 22px;
}

.card {
	background-color: white;
	border-radius: 20px;
	padding: 5px;
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
	object-fit: cover;
}

.card-title {
	font-size: 16px;
}

.euro {
	font-weight: 700;
}

.neutral-star {
	color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
	display: flex;
	justify-content: space-between;
}

.hebergements-and-populaires section {
	background-color: var(--main-bg-color);
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
	width: 65%;
}

/****** Populaires ***********/
.populaires {
	width: 32%;
}

.populaires-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.populaires-cards .card {
	display: flex;
	margin-top: 33px;
}

.populaires-cards img {
	width: 33%;
	height: 136px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
	width: 67%;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.populaires-cards .card-title {
	margin-top: 10px;
	margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
	margin: 0;
}

.populaires-cards .card-rating {
	margin-bottom: 5px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
	.hebergements-and-populaires {
		flex-direction: column;
	}

	.hebergements {
		width: 100%;
	}

	.populaires {
		width: 100%;
		margin-top: 50px;
	}

	.populaires-cards {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.populaires-cards a {
		width: 30%;
	}

	.populaires-cards .card-title {
		font-size: 14px;
	}

	.populaires-cards .card-subtitle {
		font-size: 13px;
	}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
	header {
		display: grid !important;
		grid-template-rows: repeat(2, 1fr);
		text-align: center;
		justify-content: center !important;
	}

	header a {
		grid-row: 1 / span 2;
		width: 100%;
	}

	.info-group {
		margin-bottom: 1em;
	}

	.nav-filter-bar {
		display: grid !important;
		grid-template-columns: repeat(2, 1fr);
	}

	.nav-filter-bar p {
		grid-column: 1 / span 2;
		margin-bottom: 0.5em !important;
	}

	.nav-filter-bar a {
		text-align: center;
		margin-bottom: 1em;
	}

	.search-field {
		width: calc(100% - 50px - 129px) !important;
	}

}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 79px;

}

.logo-header-size {
	width: 40%;
	height: 25%;
}

.nav-align {
	display: flex;
	align-self: flex-start;
	column-gap: 69px;
}

.nav-text-btn a {
	padding-top: 14px;
	text-decoration: none;
	color: black;
	display: inline-block;
	border-top: 2px solid transparent;
}

.nav-text-btn a:hover {
	color: var(--main-color);
	border-top: 2px solid var(--main-color);
}

.info-group {
	display: flex;
	flex-direction: column;
}

.info-group > * {
	margin-bottom: 1em;
}

.info-group h1 {
	font-size: 22px;
	font-weight: 700;
}

.info-group p {
	font-size: 16px;
	font-weight: 400;
	margin-top: 0;
}

.search-bar {
	display: flex;
	flex-direction: row;
	height: 49px;
	align-items: center;
}

.search-bar-icon-box {
	height: 100%;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-bg-color);
	border-radius: 15px 0 0 15px;

}

.label-icon i {
	color: #000;
}

.search-field {
	font-size: 18px;
	font-weight: 700;
	height: 100%;
	width: 20%;
	border-top: 1px solid var(--main-bg-color);
	border-bottom: 1px solid var(--main-bg-color);
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	padding: 14px 21px 14px 21px;
	text-overflow: ellipsis;
}

.search-field:hover {
	pointer-events: painted;
}

.search-field::placeholder {
	opacity: 1;
	color: black;
}

.btn-search {
	display: flex;
	background-color: var(--main-color);
	font-size: 18px;
	text-align: center;
	padding: 0 14px 0 14px;
	height: 100%;
	color: white;
	font-weight: 700;
	border: 1px solid var(--main-color);
	border-radius: 0 15px 15px 0;
}

.btn-search:hover {
	cursor: pointer;
}

.nav-filter-bar {
	display: flex;
	column-gap: 1em;
	align-items: center;
	height: 16%;
	padding-top: 1em;
	padding-bottom: 1em;
}

.nav-filter-bar p {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 0;
}

.nav-filter-bar a {
	display: inline-block;
	color: black;
	text-decoration: none;
	font-size: 1em;
	font-weight: 700;
	padding-right: 0.8em;
	border: 2px solid var(--main-bg-color);
	border-radius: 25px;
}

.nav-filter-bar i {
	padding: 0.8em;
}

.nav-filter-bar a:hover {
	background-color: var(--filter-bg-color);
}

.info-bar {
	display: flex;
	flex-direction: row;
	height: 49px;
	align-items: center;
}

.info-bar-align-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid var(--main-bg-color);
	border-radius: 25px;
	text-align: center;
	align-items: center;
}

.info-bar-icon i {
	color: var(--main-color);
}

.info-bar-text {
	display: flex;
	color: #000;
	font-size: 0.8em;
	font-weight: 500;
	padding-left: 0.8em;
	padding-top: 1em;
}

.hebergements-and-populaires {
	display: flex;
	justify-content: space-between;
}

.hebergements-and-populaires section {
	background-color: var(--main-bg-color);
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
	width: 65%;
	display: flex;
	flex-direction: column;

}

.hebergements .more {
	display: inline-block;
	color: #000;
	font-weight: 700;
	text-decoration: none;
}

.margin-auto {
	margin-top: auto;
}

.hebergements-title {
	display: flex;
	align-items: center;

}

.hebergements-cards {
	display: flex;
	padding-top: 30px;
	padding-bottom: 30px;
	flex-flow: row wrap;
	justify-content: space-between;
	row-gap: 30px;
}

.hebergements-cards .clic {
	display: flex;
	display: block;
	text-decoration: none;
	color: #000;
	flex-basis: 30%;
	border-radius: 20px;

}


.hebergements-cards .card {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 206px;

}

.hebergements-cards img {
	width: 100%;
	height: 124px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.hebergements-cards .card-content {
	height: 100%;
	padding-left: 15px;
	padding-right: 5px;
	display: flex;
	flex-direction: column;
}

.hebergements-cards .card-title {
	margin-top: 4px;
}

.hebergements-cards .card-subtitle {
	margin-top: 4px;
}

.hebergements-cards .card-content .card-txt h3 {
	margin-bottom: 0;
	margin-top: 6px;
}

.hebergements-cards .card-content .card-txt p {
	margin-bottom: 14px;
}

/****** Populaires ***********/
.populaires {
	display: flex;
	flex-direction: column;
	width: 32%;
}

/* Ajout de l'élément display et flex direction */

.populaires-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.populaires-cards {
	display: flex;
	flex-direction: column;
	width: 100%;

}

.populaires-cards .card {
	display: flex;
	margin-top: 33px;
}

.populaires-cards img {
	width: 33%;
	height: 136px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
	width: 67%;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.populaires-cards .card-title {
	margin-top: 10px;
	margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
	margin: 0;
}

.populaires-cards .card-rating {
	margin-bottom: 5px;
}

.section-activite {
	display: flex;
	flex-direction: column;
	padding: 30px;
	margin-top: 30px;
	margin-bottom: 30px;

}

.activite-cards {
	display: flex;
	margin-top: 33px;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 30px;
}

.activite-cards .card {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	flex-basis: 24%;
	padding: 0;
}

.activite-cards a {
	display: flex;
	color: #000;
	text-decoration: none;
}

.activite-cards img {
	width: 100%;
	height: 22vw;
	max-height: 380px;
	border-radius: 20px 20px 0 0;
}

.activite-cards .card-title {
	padding: 19px 20px 19px 20px;
}